.toTheLeft{
    float:left;
    width: 47%;
}

.toTheRight{
    float: right;
    width: 47%;
}

.switches{
    margin-top: 130px;
    margin-bottom: 10px;
    align-items: center;
    display: block;
}